<div style="background: #fafafa;border-top: 3px solid palevioletred;text-align: center;">
  <div style="padding: 32px;"><img alt="GitLab" src="https://ci3.googleusercontent.com/proxy/h2NYYPjooDBPrKDR1zQTq8VZbRj-5HHNtmh6cIefmDw1EFVMWU_kKBDkDRm6kA6aB7A7oPzVOaGg5pojnHYkjAdBqT33loeozrDlnY61QksUAPjU0Pa2OPwYd-yncMbG-jlGPTHLE6Jc7W7pPt27LIzsfwWoWwRa-1Zwzw676VyUSWl10WGyHZc1kNA=s0-d-e1-ft#https://gitlab.com/assets/mailers/gitlab_header_logo-153749eaa7ea6fafcb995161abd3247bc4c4500f31498b0c4024f50093983ac0.gif" width="55" height="50" class="CToWUd"></div>
  <div style="background: #fff;border: 1px solid #ededed;padding: 24px;margin-left: 15%;margin-right: 15%;">
    <div style="font-size: 18px;">Hello, <%= @resource.name %>!</div>
    <div style="font-size: 16px;">Someone, hopefully you, has requested to reset the password for your Factz account on https://factz.com.</div>
    <div style="font-size: 16px;">If you did not perform this request, you can safely ignore this email.</div>
    <div style="font-size: 16px;">Otherwise, click the link below to complete the process.</div>

    <p style="font-size: 18px;"><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
  </div>

  <p>You're receiving this email because of your account on <%= link_to 'Factz.com', "https://factz.com/" %>. <%= link_to 'Manage all notifications', "https://factz.com/settings" %> · <%= link_to 'Help', "https://factz.com/help" %></p>
</div>
